.order {
    padding: 20px;
    margin: 20px auto;
    border: 1px solid rgb(235, 235, 235);
    box-shadow: 0 2px 6px #dddddd;
    width: 50%;
}
@media(max-width: 600px) {
    .order {
        width: 500px;
    }
}