.contactData {
    margin: 20px auto;
    width: 80%;
    text-align: center;
    box-shadow: 0 1px 30px rgb(216, 216, 216);
    border: 1px solid #eee;
    box-sizing: border-box;
    padding: 10px;
}
input {
    display: block;
    width: 60%;
    margin: auto;
    margin-bottom: 1rem;
    font-size: 16px;
    padding: 5px;
}
@media(min-width: 600px ) {
    .contactData {
        width:500px;
    }
}