.navigationItem {
  margin: 0;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  width: auto;
  align-items: center;
}

.navigationItem a {
  color: white;
  text-decoration: none;
  height: 100%;
  padding: 16px 10px;
  border-bottom: 4px solid transparent;
  box-sizing: border-box;
  display: block;
}

.navigationItem a:hover,
.navigationItem a:active,
.navigationItem a.active {
  background-color: #8f5c2c;
  border-bottom: 4px solid #40a4c8;
  color: white;
}
